<section class="page">
  <mat-card class="mat-elevation-z8 card">
    <mat-card-header class="header">
      <mat-card-title class="header__title">
        <mat-icon class="header__title--icon">{{ ICONS.PERSON }}</mat-icon>
        <p class="header__title--text">{{ LABELS.TITLE_VIEW }}</p>
      </mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>

    <form class="form">
      <mat-card-content class="form__content">
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="{{ LABELS.PLACEHOLDER.CODE }}"
            disabled
            value="{{ consultant.code }}"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="{{ LABELS.PLACEHOLDER.NAME }}"
            disabled
            value="{{ consultant.name }}"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="{{ LABELS.PLACEHOLDER.LASTNAME }}"
            disabled
            value="{{ consultant.lastname }}"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            type="tel"
            placeholder="{{ LABELS.PLACEHOLDER.MOBILE }}"
            disabled
            value="{{ consultant.cellphone }}"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            type="email"
            placeholder="{{ LABELS.PLACEHOLDER.EMAIL }}"
            disabled
            value="{{ consultant.email }}"
          />
        </mat-form-field>
      </mat-card-content>
    </form>
  </mat-card>
</section>
