<section class="page">
  <mat-card class="mat-elevation-z8 card">
    <mat-card-header class="header">
      <mat-card-title class="header__title">
        <mat-icon class="header__title--icon">{{ ICONS.EVENT }}</mat-icon>
        <p class="header__title--text">{{ LABELS.TITLE_VIEW }}</p>
      </mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content class="content">
      <br />
      <div>
        <span>
          <b>{{ LABELS.PLACEHOLDER.ID }}</b>
        </span>
        <span> {{ event.id }}</span>
      </div>
      <div>
        <span>
          <b>{{ LABELS.PLACEHOLDER.TITLE }}</b>
        </span>
        <span> {{ event.title }}</span>
      </div>
      <div>
        <span>
          <b>{{ LABELS.PLACEHOLDER.DATESTART }}</b>
        </span>
        <span> {{ event.startDate }}</span>
      </div>
      <div>
        <span>
          <b>{{ LABELS.PLACEHOLDER.DATEEND }}</b>
        </span>
        <span> {{ event.closeDate }}</span>
      </div>
      <div>
        <span>
          <b>{{ LABELS.PLACEHOLDER.DEADLINE }}</b>
        </span>
        <span> {{ event.registrationDeadline }}</span>
      </div>
      <div>
        <span>
          <b>{{ LABELS.PLACEHOLDER.DATESTART }}</b>
        </span>
        <span> {{ event.startDate }}</span>
      </div>
      <div>
        <span>
          <b>{{ LABELS.PLACEHOLDER.HOUR }}</b>
        </span>
        <span> {{ event.eventTime }}</span>
      </div>
      <div>
        <span>
          <b>{{ LABELS.PLACEHOLDER.DURATION }}</b>
        </span>
        <span> {{ event.eventDurationInHours }}</span>
      </div>
      <div>
        <span>
          <b>{{ LABELS.PLACEHOLDER.THEME }}</b>
        </span>
        <span> {{ event.theme }}</span>
      </div>
      <div>
        <span>
          <b>{{ LABELS.PLACEHOLDER.EVENTTYPE }}</b>
        </span>
        <span> {{ event.type | EventType }}</span>
      </div>
      <div>
        <span>
          <b>{{ LABELS.PLACEHOLDER.STATE }}</b>
        </span>
        <span> {{ event.state | EventState }}</span>
      </div>
      <div>
        <span>
          <b>{{ LABELS.PLACEHOLDER.PLACE }}</b>
        </span>
        <span> {{ event.place }}</span>
      </div>
      <div>
        <div>
          <span>
            <b>{{ LABELS.PLACEHOLDER.CITY }}</b>
          </span>
          <span> {{ event.city }}</span>
        </div>
        <div>
          <span>
            <b>{{ LABELS.PLACEHOLDER.DEPARTMENT }}</b>
          </span>
          <span> {{ event.department }}</span>
        </div>
      </div>
      <div>
        <span>
          <a href="{{ event.link }}" target="_blank">
            <b>{{ LABELS.PLACEHOLDER.WEBSITE }}</b>
          </a>
        </span>
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>

    <mat-card-actions class="form__actions">
      <button
        mat-raised-button
        color="primary"
        (click)="inscriptionEvent()"
        *ngIf="authority == ROLES.CLIENT || authority == ROLES.CONTACT"
      >
        <span>{{ LABELS.INSCRIPTION_BUTTON }}</span>
      </button>
    </mat-card-actions>
  </mat-card>
</section>
