<section class="page">
  <mat-card class="mat-elevation-z8 card">
    <mat-card-header class="header">
      <mat-card-title class="header__title">
        <mat-icon class="header__title--icon">{{ ICONS.BOOK }}</mat-icon>
        <p class="header__title--text">{{ LABELS.TITLE_VIEW }}</p>
      </mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>
    <mat-card-content class="content">
      <br />
      <div>
        <span>
          <b>{{ LABELS.PLACEHOLDER.ADVISER }}</b>
        </span>
        <span>
          {{ advisory.consultantId }}
        </span>
      </div>
      <div>
        <span>
          <b>{{ LABELS.PLACEHOLDER.CLIENT }}</b>
        </span>
        <span> {{ advisory.clientId }} </span>
      </div>
      <div>
        <span>
          <b>{{ LABELS.PLACEHOLDER.DATEADVISORY }}</b>
        </span>
        <span> {{ advisory.date | date: 'yyyy-MM-dd hh:mm a' }} </span>
      </div>
      <div>
        <span>
          <b>{{ LABELS.PLACEHOLDER.DURATION }}</b>
        </span>
        <span>
          {{ advisory.durationInHours }} {{ LABELS.PLACEHOLDER.HOURS }}
        </span>
      </div>
      <div>
        <span>
          <b>{{ LABELS.PLACEHOLDER.CONSULTATNTYPE }}</b>
        </span>
        <span> {{ advisory.type | AdvisoryType }} </span>
      </div>
      <div>
        <span>
          <b>{{ LABELS.PLACEHOLDER.STATE }}</b>
        </span>
        <span> {{ advisory.state | AdvisoryState }} </span>
      </div>
      <div>
        <span>
          <b>{{ LABELS.PLACEHOLDER.AREA }}</b>
        </span>
        <span> {{ advisory.area | AdvisoryArea }} </span>
      </div>
      <div>
        <span>
          <b>{{ LABELS.PLACEHOLDER.AFFAIR }}</b>
        </span>
        <span> {{ advisory.subject }} </span>
      </div>
      <div class="header__justify" *ngIf="advisory.notes">
        <span>
          <b>{{ LABELS.PLACEHOLDER.NOTES }}</b>
        </span>
        <span> {{ advisory.notes }} </span>
      </div>
    </mat-card-content>
  </mat-card>
</section>
