<section class="page">
  <div class="mat-elevation-z8 table">
    <mat-card class="page__header">
      <mat-form-field>
        <mat-label>{{ LABELS.FILTER }}</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="{{ LABELS.SEARCH }}"
          #input
        />
      </mat-form-field>
    </mat-card>

    <table mat-table [dataSource]="participants" matSort class="table--content">
      <ng-container matColumnDef="identificationCard">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ LABELS.CELLS.IDENTIFICATIONCARD }}
        </th>
        <td mat-cell *matCellDef="let user">
          {{ user.identificationCard }}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ LABELS.CELLS.NAME }}
        </th>
        <td mat-cell *matCellDef="let user">
          {{ user.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ LABELS.CELLS.STATE }}
        </th>
        <td mat-cell *matCellDef="let user">
          {{ user.state }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          {{ LABELS.CELLS.ACTIONS }}
        </th>
        <td mat-cell *matCellDef="let user">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="selected(user)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="LABELS.COLUMNS"></tr>
      <tr mat-row *matRowDef="let row; columns: LABELS.COLUMNS"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">{{ LABELS.NOTDATA }}</td>
      </tr>
    </table>
    <mat-paginator
      class="paginator"
      [pageSizeOptions]="[5, 10, 25, 100]"
    ></mat-paginator>
  </div>
</section>
