<section class="page">
  <mat-card class="mat-elevation-z8 card">
    <mat-card-header class="header">
      <mat-card-title class="header__title">
        <mat-icon class="header__title--icon">{{ ICONS.PERSON }}</mat-icon>
        <p *ngIf="isWatch" class="header__title--text">{{ LABELS.TITLE }}</p>
        <p *ngIf="!isWatch" class="header__title--text">
          {{ LABELS.TITLE_UPDATE }}
        </p>
      </mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>

    <form [formGroup]="form" class="form">
      <mat-card-content class="form__content" *ngIf="step == STEP.ZERO">
        <div class="form__content--group">
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="{{ LABELS.PLACEHOLDER.ID }}"
              formControlName="id"
            />
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              type="date"
              placeholder="{{ LABELS.PLACEHOLDER.DATEREGISTER }}"
              formControlName="registrationDate"
            />
          </mat-form-field>
        </div>

        <div>
          <span>{{ LABELS.LABELCLASSIFICATION }}</span>
        </div>
        <br />
        <mat-form-field>
          <mat-select
            placeholder="{{ LABELS.PLACEHOLDER.CLIENTTYPE }}"
            formControlName="type"
          >
            <mat-option *ngFor="let op of CONTACTTYPES" [value]="op.value"
              >{{ op.value | ContactType }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button color="primary" (click)="nextStep()">
            {{ LABELS.STEP.NEXT }}
          </button>
        </div>
      </mat-card-content>
      <mat-card-content class="form__content" *ngIf="step == STEP.ONE">
        <div>
          <span>{{ LABELS.LABELCONTACT }}</span>
        </div>
        <br />
        <div class="form__content--group">
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="{{ LABELS.PLACEHOLDER.NAME }}"
              formControlName="name"
            />
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="{{ LABELS.PLACEHOLDER.LASTNAME }}"
              formControlName="lastname"
            />
          </mat-form-field>
        </div>

        <div class="form__content--group">
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="{{ LABELS.PLACEHOLDER.POSITION }}"
              formControlName="position"
            />
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              type="date"
              placeholder="{{ LABELS.PLACEHOLDER.ANTIQUITY }}"
              formControlName="antiquity"
            />
          </mat-form-field>
        </div>

        <div class="form__content--group">
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="{{ LABELS.PLACEHOLDER.PLACEOFBIRTH }}"
              formControlName="birthplace"
            />
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              type="date"
              placeholder="{{ LABELS.PLACEHOLDER.DATEOFBIRTH }}"
              formControlName="birthdate"
            />
          </mat-form-field>
        </div>

        <div class="form__content--group">
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="{{ LABELS.PLACEHOLDER.IDENTIFICATIONCARD }}"
              formControlName="id"
            />
          </mat-form-field>

          <mat-form-field>
            <mat-select
              placeholder="{{ LABELS.PLACEHOLDER.EDUCATIONALLEVEL }}"
              formControlName="educationalLevel"
            >
              <mat-option *ngFor="let op of EDUCATIONALLEVEL" [value]="op.id"
                >{{ op.id | EducationLevel }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form__content--group">
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="{{ LABELS.PLACEHOLDER.ADDRESSCONTACT }}"
              formControlName="address"
            />
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="{{ LABELS.PLACEHOLDER.CITY }}"
              formControlName="contactCity"
            />
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="{{ LABELS.PLACEHOLDER.DEPARTMENT }}"
              formControlName="contactDepartment"
            />
          </mat-form-field>
        </div>

        <div class="form__content--group">
          <mat-form-field>
            <input
              matInput
              type="tel"
              placeholder="{{ LABELS.PLACEHOLDER.PHONE }}"
              formControlName="contactPhone"
            />
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              type="tel"
              placeholder="{{ LABELS.PLACEHOLDER.MOBILE }}"
              formControlName="cellphone"
            />
          </mat-form-field>
        </div>

        <mat-form-field>
          <input
            matInput
            type="email"
            placeholder="{{ LABELS.PLACEHOLDER.EMAIL }}"
            formControlName="email"
          />
        </mat-form-field>

        <div class="form__content--group">
          <mat-form-field>
            <mat-select
              placeholder="{{ LABELS.PLACEHOLDER.GENDER }}"
              formControlName="gender"
            >
              <mat-option *ngFor="let op of GENDER" [value]="op.id">
                {{ op.id | Gender }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select
              placeholder="{{ LABELS.PLACEHOLDER.ETHNICGROUP }}"
              formControlName="ethnicGroup"
            >
              <mat-option *ngFor="let op of ETHNICGROUP" [value]="op.id">
                {{ op.id | EthnicGroup }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form__content--group">
          <mat-form-field>
            <mat-select
              placeholder="{{ LABELS.PLACEHOLDER.DISPLACED }}"
              formControlName="isDisplaced"
            >
              <mat-option *ngFor="let op of OPTION" [value]="op.id"
                >{{ op.id | Option }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select
              placeholder="{{ LABELS.PLACEHOLDER.DISABLED }}"
              formControlName="isHandicapped"
            >
              <mat-option *ngFor="let op of OPTION" [value]="op.id"
                >{{ op.id | Option }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <button mat-button color="warn" (click)="prevStep()">
            {{ LABELS.STEP.PREVIOUS }}
          </button>
          <button mat-button color="primary" (click)="nextStep()">
            {{ LABELS.STEP.NEXT }}
          </button>
        </div>
      </mat-card-content>
      <mat-card-content class="form__content" *ngIf="step == STEP.TWO">
        <div>
          <span>{{ LABELS.LABELBUSINESS }}</span>
        </div>
        <br />
        <div class="form__content--group">
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="{{ LABELS.PLACEHOLDER.BUSINESSNAME }}"
              formControlName="companyName"
            />
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="{{ LABELS.PLACEHOLDER.NIT }}"
              formControlName="nit"
            />
          </mat-form-field>
        </div>

        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="{{ LABELS.PLACEHOLDER.LEGALREPRESENTATIVE }}"
            formControlName="legalRepresentative"
          />
        </mat-form-field>

        <div class="form__content--group">
          <mat-form-field>
            <mat-select
              placeholder="{{ LABELS.PLACEHOLDER.LEGALCONSTITUTION }}"
              formControlName="legalConstitution"
            >
              <mat-option *ngFor="let op of LEGALCONSTITUTION" [value]="op.id"
                >{{ op.id | LegalConstitution }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="{{ LABELS.PLACEHOLDER.DATECONSTITUTION }}"
              formControlName="constitutionDate"
            />
          </mat-form-field>
        </div>

        <div class="form__content--group">
          <mat-form-field>
            <input
              matInput
              type="number"
              placeholder="{{ LABELS.PLACEHOLDER.EMPLOYEES }}"
              formControlName="numberOfEmployees"
            />
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              type="number"
              placeholder="{{ LABELS.PLACEHOLDER.TC }}"
              formControlName="numberOfFullTimeEmployees"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              type="number"
              placeholder="{{ LABELS.PLACEHOLDER.MT }}"
              formControlName="numberOfPartTimeEmployees"
            />
          </mat-form-field>
        </div>

        <div class="form__content--group">
          <mat-form-field>
            <input
              matInput
              type="number"
              placeholder="{{ LABELS.PLACEHOLDER.DIRECT }}"
              formControlName="companyNumberOfDirectEmployees"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              type="number"
              placeholder="{{ LABELS.PLACEHOLDER.INDIRECT }}"
              formControlName="companyNumberOfIndirectEmployees"
            />
          </mat-form-field>
        </div>

        <div class="form__content--group">
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="{{ LABELS.PLACEHOLDER.ADDRESSBUSINESS }}"
              formControlName="companyAddress"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="{{ LABELS.PLACEHOLDER.CITY }}"
              formControlName="companyCity"
            />
          </mat-form-field>
        </div>
        <div class="form__content--group">
          <mat-form-field>
            <input
              matInput
              type="tel"
              placeholder="{{ LABELS.PLACEHOLDER.PHONE }}"
              formControlName="companyPhone"
            />
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              type="tel"
              placeholder="{{ LABELS.PLACEHOLDER.MOBILE }}"
              formControlName="companyCellPhone"
            />
          </mat-form-field>
        </div>
        <div class="form__content--group">
          <mat-form-field>
            <input
              matInput
              type="email"
              placeholder="{{ LABELS.PLACEHOLDER.EMAIL }}"
              formControlName="companyEmail"
            />
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="{{ LABELS.PLACEHOLDER.WEBSITE }}"
              formControlName="companyWebsite"
            />
          </mat-form-field>
        </div>
        <div>
          <button mat-button color="warn" (click)="prevStep()">
            {{ LABELS.STEP.PREVIOUS }}
          </button>
          <button mat-button color="primary" (click)="nextStep()">
            {{ LABELS.STEP.NEXT }}
          </button>
        </div>
      </mat-card-content>
      <mat-card-content class="form__content" *ngIf="step == STEP.THREE">
        <div class="form__content--group">
          <mat-form-field>
            <mat-select
              placeholder="{{ LABELS.PLACEHOLDER.TYPEOFCOMPANY }}"
              formControlName="companyType"
            >
              <mat-option *ngFor="let op of COMPANYTYPE" [value]="op.id">
                {{ op.id | CompanyType }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="{{ LABELS.PLACEHOLDER.ANOTHERTYPE }}"
              formControlName="otherCompanySector"
            />
          </mat-form-field>
        </div>
        <div class="form__content--group">
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="{{ LABELS.PLACEHOLDER.COMMERCIALREGISTER }}"
              formControlName="hasComercialRegister"
            />
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="{{ LABELS.PLACEHOLDER.COMMERCIALREGISTERNUMBER }}"
              formControlName="comercialRegisterNumber"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="{{ LABELS.PLACEHOLDER.YEARRENOVATION }}"
              formControlName="lastYearOfRenovation"
            />
          </mat-form-field>
        </div>
        <div class="form__content--group">
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="{{ LABELS.PLACEHOLDER.MAINCODECIIU }}"
              formControlName="mainCodeCiiu"
            />
          </mat-form-field>

          <mat-form-field>
            <mat-select
              placeholder="{{ LABELS.PLACEHOLDER.INTERNATIONALACTIVITY }}"
              formControlName="internationalActivity"
            >
              <mat-option
                *ngFor="let op of INTERNATIONALACTIVITY"
                [value]="op.id"
                >{{ op.id | InternationalActivity }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="{{ LABELS.PLACEHOLDER.COUNTRIES }}"
            formControlName="internationalActivityCountries"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="{{ LABELS.PLACEHOLDER.INTERNETBUSINESS }}"
            formControlName="isEcommerce"
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label> {{ LABELS.PLACEHOLDER.SERVICES }} </mat-label>
          <textarea
            matInput
            formControlName="servicesProductsOffered"
          ></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-select
            placeholder="{{ LABELS.LABELEND }}"
            formControlName="contactMedium"
          >
            <mat-option *ngFor="let op of CONTACTMEDIUM" [value]="op.id">
              {{ op.id | ContactMedium }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label> {{ LABELS.PLACEHOLDER.OBSERVATIONS }} </mat-label>
          <textarea matInput formControlName="observations"></textarea>
        </mat-form-field>
        <div>
          <button mat-button color="warn" (click)="prevStep()">
            {{ LABELS.STEP.PREVIOUS }}
          </button>
        </div>
      </mat-card-content>

      <mat-divider></mat-divider>

      <mat-card-actions class="form__actions">
        <button
          mat-raised-button
          [disabled]="form.invalid"
          *ngIf="isWatch"
          routerLink="../"
        >
          <span>{{ LABELS.BACK_BUTTON }}</span>
        </button>

        <button
          *ngIf="!isWatch"
          mat-raised-button
          color="accent"
          class="button-form"
          (click)="update($event)"
        >
          {{ LABELS.UPDATE_BUTTON }}
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
