@import './colors';

.page {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.card {
  border-top: 0.4rem solid $primary-red;
  width: 50rem;

  &--footer {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;

    &--link {
      color: $secondary-red;
      font-size: 1.3rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

.header {
  padding-bottom: 2rem;

  &--icon {
    font-size: 2rem;
    margin-right: 2rem;
  }

  &--image {
    background-image: url('../../../assets/Logo-vertical.jpg');
    background-size: cover;
  }

  &--title {
    padding-top: 1rem;
    width: 40rem;
  }
}

.form {
  &__content {
    display: grid;
    padding-top: 1rem;

    &--group {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &--text {
      display: flex;
      justify-content: center;
    }

    &--avatar {
      display: flex;
      justify-content: center;
      padding-bottom: 1rem;
    }

    &--avatar-img {
      width: 30rem;
    }
  }

  &__actions {
    display: flex;
    justify-content: center;

    &--button {
      width: 25rem;
    }
  }
}

.error {
  color: $accent-red;
  display: flex;
  justify-content: center;
}

@media (max-width: 480px) {
  .header {
    padding-bottom: 2rem;

    &--title {
      font-size: 1.7rem;
    }
  }
  .card {
    width: 28rem;

    &--footer {
      flex-direction: column;
      align-items: center;
      margin: 1rem;

      &--link {
        color: $secondary-red;
        font-size: 1.3rem;
        padding-top: 1rem;
      }
    }
  }

  .form {
    &__content {
      &--group {
        flex-direction: column;
      }

      &--avatar-img {
        width: 25rem;
      }
    }
  }
}
