@import 'colors';

.modal-spinner {
  align-self: center;
  display: flex;
  justify-content: center;
  padding: 100px;
}

.page {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.button-spinner {
  align-content: center;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 0.3rem 0;
  width: 100%;
}

.card {
  border-top: 4px solid $primary-red;
  width: 40rem;
}

.header {
  &__title {
    display: flex;
    width: 35rem;

    &--icon {
      margin-right: 2rem;
    }

    &--text {
      margin: 0;
    }
  }

  &__justify {
    text-align: justify;
  }
}

.form {
  &__content {
    display: grid;
    padding-top: 1rem;

    &--group {
      display: flex;
      justify-content: space-between;
      &--item {
        flex: 1 1 0px;
        padding: 5px;
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: space-around;
    &--button {
      width: 25rem;
    }
  }
  .span {
    &__justify {
      text-align: justify;
    }
  }
}

.error {
  color: #e74c3c;
  display: flex;
  justify-content: center;
}

@media (max-width: 480px) {
  .header {
    &__title {
      width: 10rem;

      &--icon {
        font-size: 2rem;
      }

      &--text {
        font-size: 1.3rem;
      }
    }
  }
  .card {
    width: 30rem;
  }

  .form {
    &__content {
      display: flex;
      flex-direction: column;
      font-size: 1rem;
    }
  }

  .content {
    flex-direction: column;
    font-size: 0.9rem;
  }
}
