@import 'colors';

.page {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;

    &--group {
      justify-content: space-between;

      &--item {
        flex: 1 1 0;
        padding: 5px;
      }
    }

    &--filter {
      margin: 0 1rem;
    }

    &__title {
      display: flex;
      width: 55rem;

      &--icon {
        margin-right: 2rem;
      }

      &--text {
        margin: 0;
      }
    }
  }

  &__header-report {
    &--group {
      align-items: center;
      display: flex;
      justify-content: space-around;

      @media (max-width: 768px) {
        display: grid;
        align-items: center;
        justify-items: center;
      }
    }

    &--item-button {
      margin-right: 1rem;
      width: 6.4rem;

      @media (max-width: 768px) {
        margin: 0 0 0.5rem;
        width: 18rem;
      }
    }
  }
}

.search-input {
  margin-left: 1rem;
  width: 90%;
}

.button-export {
  @media (min-width: 768px) {
    margin-right: 7rem;
  }
}

.table {
  border-top: 0.2rem solid $primary-red;
  width: 98%;

  &--content {
    width: 100%;
  }

  h3 {
    font-weight: bold;
  }

  td {
    font-size: 1.2rem;
    padding-right: 0.5rem;
  }
}

@media (max-width: 768px) {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .page {
    &__header {
      flex-direction: column;

      &--group {
        display: flex;
        flex-direction: column;

        &--item {
          flex: 1 1 0;
        }
      }
    }
  }
}

.error {
  color: $accent-red;
  display: flex;
  justify-content: center;
}

.table-spinner {
  align-items: center;
  display: flex;
  height: 65vh;
  justify-content: center;
  padding: 0.3rem 0;
  width: 100%;
}
