@import 'colors';

.page {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  &__header {
    display: flex;
    justify-content: space-between;

    &--group {
      justify-content: space-between;
      &--item {
        flex: 1 1 0px;
        padding: 5px;
      }
    }

    &--filter {
      margin: 0 1rem;
    }

    &__title {
      display: flex;
      width: 55rem;

      &--icon {
        margin-right: 2rem;
      }

      &--text {
        margin: 0;
      }
    }
  }
}

.table {
  border-top: 0.2rem solid $primary-red;
  width: 98%;

  &--content {
    width: 100%;
  }
}

@media (max-width: 800px) {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  .page {
    &__header {
      flex-direction: column;
      &--group {
        display: flex;
        flex-direction: column;
        &--item {
          flex: 1 1 0px;
        }
      }
    }
  }
}

.error {
  color: $accent-red;
  display: flex;
  justify-content: center;
}
