@import 'colors';

.page {
  align-items: center;
  justify-content: center;
  width: 100%;
}

table {
  border-top: 0.2rem solid $primary-red;
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.paginator {
  width: 100%;
}
