<section class="page">
  <mat-card class="mat-elevation-z8 card">
    <mat-card-header mat-card-avatar class="header">
      <div mat-card-avatar class="header--image"></div>
      <mat-card-title class="header--title">{{ LABELS.TITLE }}</mat-card-title>
      <mat-card-subtitle>{{ LABELS.SUBTITLE }}</mat-card-subtitle>
    </mat-card-header>

    <mat-divider></mat-divider>

    <form [formGroup]="form" class="form">
      <mat-card-content class="form__content">
        <div class="form__content--group">
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="{{ LABELS.PLACEHOLDER.NAME }}"
              formControlName="name"
              required
            />
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="{{ LABELS.PLACEHOLDER.LASTNAME }}"
              formControlName="lastname"
              required
            />
          </mat-form-field>
        </div>
        <div class="form__content--group">
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="{{ LABELS.PLACEHOLDER.CEDULA }}"
              formControlName="id"
              required
            />
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              type="tel"
              placeholder="{{ LABELS.PLACEHOLDER.MOBILE }}"
              formControlName="cellphone"
              required
            />
          </mat-form-field>
        </div>

        <div class="form__content--group">
          <mat-form-field>
            <input
              matInput
              type="email"
              placeholder="{{ LABELS.PLACEHOLDER.EMAIL }}"
              formControlName="email"
              required
            />
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ LABELS.CONTACTTYPE }}</mat-label>
            <mat-select
              placeholder="{{ LABELS.PLACEHOLDER.TYPE }}"
              formControlName="type"
              (selectionChange)="loadDataBusiness($event.value)"
              required
            >
              <mat-option *ngFor="let type of TYPES" [value]="type.id">{{
                type.id | ContactType
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-card-content class="form__content" *ngIf="isBusiness">
          <div>
            <span>{{ LABELS.TEXT }}</span>
          </div>
          <div class="form__content--group">
            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="{{ LABELS.PLACEHOLDER.EMPRESA }}"
                formControlName="companyName"
              />
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="{{ LABELS.PLACEHOLDER.NIT }}"
                formControlName="nit"
              />
            </mat-form-field>
          </div>
          <div class="form__content--group">
            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="{{ LABELS.PLACEHOLDER.ADDRESSBUSINESS }}"
                formControlName="companyAddress"
              />
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="{{ LABELS.PLACEHOLDER.CITY }}"
                formControlName="companyCity"
              />
            </mat-form-field>
          </div>

          <div class="form__content--group">
            <mat-form-field>
              <input
                matInput
                type="tel"
                placeholder="{{ LABELS.PLACEHOLDER.PHONE }}"
                formControlName="companyPhone"
              />
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                type="tel"
                placeholder="{{ LABELS.PLACEHOLDER.MOBILE }}"
                formControlName="companyCellPhone"
              />
            </mat-form-field>
          </div>

          <div class="form__content--group">
            <mat-form-field>
              <input
                matInput
                type="email"
                placeholder="{{ LABELS.PLACEHOLDER.EMAIL }}"
                formControlName="companyEmail"
              />
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="{{ LABELS.PLACEHOLDER.WEBSITE }}"
                formControlName="companyWebsite"
              />
            </mat-form-field>
          </div>
        </mat-card-content>

        <mat-checkbox formControlName="requestAccompaniment">
          {{ LABELS.PLACEHOLDER.APPLYFOR }}</mat-checkbox
        >
      </mat-card-content>

      <mat-divider></mat-divider>

      <mat-card-actions class="form__actions">
        <button mat-raised-button (click)="create()" [disabled]="form.invalid">
          <span>{{ LABELS.REGISTER_BUTTON }}</span>
        </button>
      </mat-card-actions>
    </form>

    <mat-card-footer class="card--footer">
      <p>
        <a class="card--footer--link" routerLink="/{{ URIS.SECURITY }}">{{
          LABELS.LINK
        }}</a>
      </p>
    </mat-card-footer>

    <mat-card-footer class="form__content">
      <div class="form__content--avatar">
        <img
          src="{{ LINKS.UFPS }}"
          alt="logo UFPS"
          class="form__content--avatar-img"
        />
      </div>
    </mat-card-footer>
  </mat-card>
</section>
