<section class="page">
  <div class="mat-elevation-z8 table">
    <mat-card class="page__header">
      <mat-form-field>
        <mat-label>{{ LABELS.FILTER }}</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="{{ LABELS.SEARCH }}"
          #input
        />
      </mat-form-field>
    </mat-card>

    <table mat-table [dataSource]="event" matSort class="table--content">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ LABELS.CELLS.TITLE }}
        </th>
        <td mat-cell *matCellDef="let event">
          {{ event.title }}
        </td>
      </ng-container>

      <ng-container matColumnDef="dateStart">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ LABELS.CELLS.DATESTART }}
        </th>
        <td mat-cell *matCellDef="let event">
          {{ event.dateStart }}
        </td>
      </ng-container>

      <ng-container matColumnDef="dateEnd">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ LABELS.CELLS.DATEEND }}
        </th>
        <td mat-cell *matCellDef="let event">{{ event.dateEnd }}</td>
      </ng-container>

      <ng-container matColumnDef="deadLine">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ LABELS.CELLS.DEADLINE }}
        </th>
        <td mat-cell *matCellDef="let event">{{ event.deadLine }}</td>
      </ng-container>

      <ng-container matColumnDef="eventType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ LABELS.CELLS.EVENTTYPE }}
        </th>
        <td mat-cell *matCellDef="let event" mat-sort-header>
          {{ event.eventType }}
        </td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ LABELS.CELLS.STATE }}
        </th>
        <td mat-cell *matCellDef="let event">
          {{ event.state }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          <button
            mat-stroked-button
            color="primary"
            routerLink="{{ ROUTES.CREATE }}"
            matTooltip="{{ LABELS.TOOLTIP.NEW }}"
          >
            <mat-icon>{{ ICONS.ADD }}</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let event">
          <button
            mat-stroked-button
            color="accent"
            routerLink="../{{ ROUTES.UPDATE }}/{{ event.id }}"
            matTooltip="{{ LABELS.TOOLTIP.EDIT }}"
          >
            <mat-icon>{{ ICONS.EDIT }}</mat-icon>
          </button>
        </td>
        <td mat-cell *matCellDef="let event">
          <button
            mat-stroked-button
            color="accent"
            (click)="openDialog(event.id)"
            matTooltip="{{ LABELS.TOOLTIP.VIEW }}"
          >
            <mat-icon>{{ ICONS.VIEW }}</mat-icon>
          </button>
          <button
            mat-stroked-button
            color="accent"
            routerLink="../{{ ROUTES.ATTENDANCE }}/{{ ROUTES.UPDATE }}/{{
              event.id
            }}"
            matTooltip="{{ LABELS.TOOLTIP.ATTENDANCE }}"
          >
            <mat-icon>{{ ICONS.CHECK }}</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="LABELS.COLUMNS"></tr>
      <tr mat-row *matRowDef="let row; columns: LABELS.COLUMNS"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">{{ LABELS.NOTDATA }}</td>
      </tr>
    </table>
    <mat-paginator
      class="paginator"
      [pageSizeOptions]="[5, 10, 25, 100]"
    ></mat-paginator>
  </div>
</section>
